*{
	text-decoration: none;
	color: #778472;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Lora', sans-serif;
}
/*Header Section*/

.navbar, .navbar-inverse {
	position: relative;
	padding: 10px 0 0px 0;
	background: white;
	width: 100%;
	margin-bottom: 0;
	border: none;
	min-height: 40px;
}

.navbar-inverse .navbar-toggle {
	border-color: #778472;
	background-color: #B1DDB1;
}

.navbar-inverse .navbar-toggle:hover {
	background-color: #BAC7BE;
}

header ul{
	margin: 0;
}

.navbar li{
	display: inline-block;
	color: #778472;
	padding: 0 15px 0 15px;
}

.navbar a {
	text-decoration: none;
	color: #778472;
	padding-left: 10px;
}

.navbar a:hover {
	color: #BAC7BE;
}

/*Landing*/

.landing-inner {
	display: table;
	background: url('/images/atacama.jpg') no-repeat center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	width: 100%;
	position: relative;
}

.landing {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	/*padding: 225px 0 225px 0;*/
	/*margin: 0;*/
	/*color: #C2E1C2;*/
	/*position: relative;*/
}

.landing h1 {
	font-family: 'Amaranth';
	font-weight: 700;
	font-size: 60;
	color: #554145;
	letter-spacing: 2.5px;
	/*text-transform: uppercase;?\*/
}

.landing h2 {
	font-family: 'Lora'
	font-weight: 700;
	font-style: italic;
	color: #635254;
	letter-spacing: 1.2px;
	text-decoration: none;
}

.landing h3 a {
	font-family: 'Lora';
	font-weight: 700;
	font-style: italic;
	color: #554145;
	text-decoration: none;
	/*#332125*/
}

div.landing h3 a:hover {
	color: #635254;
	text-decoration: none;
}

/*Learn more*/

#learn a { 
	display: inline-block;
	/*padding: 30px 60px;*/
	/*border: 1px solid #ccc;*/
	/*margin: 10px;*/
	/*border-radius: 10px;*/
	background: white;
	/*box-shadow: 2px 4px 10px rgba(0,0,0,0.2);*/
	text-decoration: none;
	color: #778472;
	text-align: center;
}

#learn a:hover {
	color: #BAC7BE;
}

.material-icons.md-48 { 
	font-size: 68px; 
}

#learn h2 { 
  margin-top: 0;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Lato';
}

div.col-lg-3 {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
}

#learn.panel {
	border: none;
	border-radius: 0;
	margin-top: 20px;
}

/*Content*/

div.featurette img {
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
	display: block;
	vertical-align: middle;
	border: 0;
	background-position: center;
	border-radius: 50%;
}

div.featurette h2 {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Lora';
	font-weight: 700;
}

div.featurette a {
	color: #B1DDB1;
}

/*Footer*/

footer .pull-right a {
	text-decoration: none;
	color: #778472;
	font-family: 'Lato';
	text-transform: uppercase;
}

footer a:hover {
	color: #B1DDB1;
}
