*{
	text-decoration: none;
	color: #778472;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Lora', sans-serif;
}

/*Landing*/

.landing-inner {
	display: table;
	background: url('/images/atacama1.jpg') no-repeat center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	width: 100%;
	position: relative;
}

.landing {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.landing h1 {
	font-family: 'Lato';
	font-weight: 900;
	font-size: 56;
	color: #3C2F34;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.landing h2 {
	font-family: 'Lora'
	font-weight: 700;
	font-style: italic;
	color: #6F5563; 
	letter-spacing: 1.2px;
	text-decoration: none;
}

.landing h2 a {
	color: #6F5563;
}

.landing h3 a {
	font-family: 'Lora';
	font-weight: 700;
	font-style: italic;
	color: #3C2F34;
	text-decoration: none;
	/*#332125*/
}

div.landing h2 a:hover {
	color: #3C2F34;
	text-decoration: none;
}

div.landing h3 a:hover {
	color: #6F5563;
	text-decoration: none;
}

/*Content*/

div.featurette img {
	max-width: 100%;
	height: 360px;
	width: 360px;
	box-sizing: border-box;
	display: block;
	border: 0;
	background-position: center;
	border-radius: 50%;
	vertical-align: middle;
}

div.featurette h2 {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Lato';
	font-weight: 700;
	color: #3C2F34; 
}

div.featurette a {
	color: #3C2F34;
	text-decoration: none;
	/*#332125;*/
}

div.featurette a:hover{
	color: #918DA4;
}

div.featurette p {
	color: #6F5563;
	vertical-align: middle;
	font-size: 17px;
	padding-top: 10px;
	text-align: justify;
}


/*Footer*/

footer .pull-right a {
	text-decoration: none;
	color: #3C2F34;
	font-family: 'Lato';
	text-transform: uppercase;
}

footer a:hover {
	color: #918DA4;
}
